@keyframes button-flash {
  0% {
    background-color: var(--shadow-color);
  }
  100% {
    background-color: transparent;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0.01);
    opacity: 0.3;
  }
  80% {
    transform: scale(100);
    opacity: 0;
  }
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(0.01);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(50);
    opacity: 0;
  }
}
