:root {
  --white: #ffffff;
  --black: #000000;

  --bg-primary: #eeeeee;
  --bg-secondary: rgba(27, 27, 27, 0.75);
  --bg-hover: rgba(180, 180, 180, 0.3);

  --text-primary: #373737;
  --text-secondary: #bdbdbd;
  --text-ternary: #dcdcdc;

  --notification-info: #01d3ee;
  --notification-info-dark: #15b1c5;
  --notification-success: #5db860;
  --notification-success-dark: #4ca451;
  --notification-warning: #ffa21b;
  --notification-warning-dark: #fb9219;
  --notification-danger: #f5594e;
  --notification-danger-dark: #e64440;
  --notification-primary: #af2cc5;
  --notification-primary-dark: #8f25ab;

  --border-color: rgba(180, 180, 180, 0.3);
  --shadow-color: rgba(0, 0, 0, 0.14);
  --white-transparent: rgba(255, 255, 255, 0.2);
  --black-transparent: rgba(0, 0, 0, 0.05);
  --black-transparent-deep: rgba(0, 0, 0, 0.3);

  --font-xxl: 24px;
  --font-xl: 18px;
  --font-lg: 16px;
  --font-md: 14px;
  --font-sm: 12px;
  --font-xs: 10px;
}
