:root {
  --white: #ffffff;
  --black: #000000;

  --bg-primary: #eeeeee;
  --bg-secondary: rgba(27, 27, 27, 0.87);

  --text-primary: #373737;
  --text-secondary: #bdbdbd;
  --text-ternary: #dcdcdc;

  --notification-info: #01d3ee;
  --notification-success: #5db860;
  --notification-warning: #ffa21b;
  --notification-danger: #f5594e;
  --notification-primary: #af2cc5;
}
